<!DOCTYPE html>
<html>
  <head>
    <title>CoordML Portal</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <!--JavaScript at end of body for optimized loading-->
    <div id="app" class="container">
        <h1>
            Coord<b>ML</b> <span class="title-portal">Portal</span> <span class="title-version">v0.0.0</span>
        </h1>
        <h4 class="section"># Experiments</h4>
        <div class="row" v-for="exp in expOverviews" :key="exp.expId">
            <div class="col s6">
                <h3><a class='link' v-bind:href="'experiment.html?expId=' + exp.expId">{{ exp.title }}</a></h3>
            </div>
            <div class="col s6">
                <h3 class="right-align exp-progress">{{ (exp.progress * 100).toFixed(1) }}%</h3>
            </div>
            <div class="col s6">
                <div class="exp-subtitle">
                #{{ exp.expId }}
                </div>
            </div>
            <div class="col s6">
                <div class="right-align exp-subtitle">Progress</div>
            </div>
        </div>
        <h4 class="section"># Runner Instances</h4>
        <div class="row" v-for="worker in workerOverviews" :key="worker.workerId">
            <div class="col s6">
                <h3>{{ worker.name }}</h3>
            </div>
            <div class="col s6">
                <h3 class="right-align exp-progress">{{ (worker.overallLoad * 100).toFixed(1) }}%</h3>
            </div>
            <div class="col s6">
                <div class="exp-subtitle">
                #{{ worker.workerId }}
                </div>
            </div>
            <div class="col s6">
                <div class="right-align exp-subtitle">Overall GPU Load</div>
            </div>
            <div class="col l3 m6" v-for="i in worker.gpuNum">
                <canvas v-bind:id="'gpu-canvas_' + worker.workerId + '_' + i" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>